body {
	background: #EEE;
	padding: 20px 20px;
	font-size: 2em;
}
#solicitud_datos {}
h3 {
	color: #077000
}
#resultados h3{
	margin:0;
}
button{
	background: #0E4582;
	color: white;
	border-radius: 10px;
	padding: 10px;
}
button:hover{
	background:#D12700;
}
#fallos{
	background: #C02319;
	color: white;
	border-radius: 20px;
	padding: 0 15px;
}
/*#resultados{display:none}*/
#resultados table{
	width: 100%;
}

#resultados button[disabled=disabled]:hover,
#resultados button[disabled=disabled] {
	background: #BFBFBF;
	color: #4D4D4D;
}

#resultados table td.revisado {
	color: #9D0011;
	background: #BFBFBF;
}
.secuencia h3{
	color: #4D4D4D;
}
.secuencia.con-fallo h3{
	color: #FE0000;
}

.secuencia.con-fallo{
	background: #FFC0CB;
}
.secuencia{
	background: white;
	display:inline-block;
	width: 70px;
	margin: 0;
	border-right: 1px solid rgba(0,0,0,0.5);
}
.secuencia h3{
	text-align: center;
}
.secuencia .frame{
	margin: 3px;
	background: #BFBFBF;
	border-radius: 15px;
	overflow: hidden;
}

.secuencia .frame.fallo {
	background: #D33AA3;
}

.secuencia .frame span{
	display: block;
}
.secuencia .frame span.frecuencia {
	display: inline;
	padding: 0 15px;
	background: #A90808;
	color: white;
	border-radius: 20px;
	float: right;
}
.secuencia.con-fallo .frame span.frecuencia{
	background: #540000;
}
.secuencia .frame span.numero {
	padding-top: 20px;
	font-size: 50px;
	text-align: center;
}

.secuencia .frame span.hora {
	font-size: 15px;
	background: black;
	color: white;
	text-align: center;
}
